@font-face {
	font-family: "Star-Wars";
	src: url("./fonts/Death Star.otf");
}

@font-face {
	font-family: "Star-Wars-2";
	src: url("./fonts/Starjout.ttf");
}

@font-face {
	font-family: "Franklin";
	src: url("./fonts/franklingothic_demi.ttf");
}

body {
	margin: 0;
	background-image: url("./images/sky.jpg");
	background-color: rgba(51, 51, 51, 0.897);
	background-size: cover;
	background-blend-mode: lighten;

} 

.container {
	width: 580px;
	height: 1250px;
	margin: 50px auto;
	background-color: lightyellow;
	border: 10px solid #FFE81F;
	border-radius: 15px;
	font-family: "Franklin", sans-serif;
	font-weight: normal;
}

header {
	background-image: url("./images/kendo-banner.jpg");
	background-color: rgba(255, 255, 255, 0.212);
	background-size: cover;
	background-blend-mode: lighten;
	height: 121px;
	padding: 20px;
}

h1, h2 {
	margin: 0;
	font-family: "Star-Wars", sans-serif;
	color: #FFE81F;
	letter-spacing: 3px;
	text-shadow: black 0 0 5px;
}

h1 {
	font-size: 40px;
	padding-bottom: 10px;
}

h2 {
	font-size: 20px;
}

.discount-line {
	text-align: center;
	padding: 10px;
	background-color: red;
	color: white;
	font-size: 18px;
}
.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid gray;
	margin: 0 30px;
	padding: 20px 0;
}

.item-img {
	width: 110px;
}

.item-details {
	margin-left: 20px;

}

h3 {
	font-size: 24px;
	margin: 0;
	font-family: "Star-Wars-2", sans-serif;
	letter-spacing: 2px;
}

.item-materials {
	font-size: 16px;
	color: gray;
	margin: 0;
	padding-top: 5px;
}

.item-price {
	font-size: 18px;
	font-weight: bold;
}

.quantities{
	margin-left: auto;
	display: flex;
	flex-direction: row;
	position: relative;
}

.add-btn,
.reduce-btn {
	border: 1px solid gray;
	border-radius: 50%;
	background-color: lightyellow;
	font-size: 25px;
	height: 30px;
	width: 30px;
	margin: 15px;
	transition: transform 0.1s ease-out
}

.item-quantity {
	position: absolute;
	left: 55px;
	top: 20px;
}

.reduce-btn,
.item-quantity {
	display: none;
}

.add-btn:hover,
.add-btn:active,
.reduce-btn:active,
.reduce-btn:hover {
	cursor: pointer;
}

.add-btn:active,
.reduce-btn:active {
	transform: scale(0.95);
}

.cart {
	display: none;
	flex-direction: column;
}

h4{
	text-align: center;
	font-family: "Star-Wars";
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 2px;
}

.order {
	margin: 0 30px;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

.item-cart {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 5px 0;
}

.item-cart-name {
	font-size: 20px;;
}

.remove-btn {
	color: lightgray;
	font-size: 11px;
	font-family: "Franklin";
	position: absolute;
	left: 55px;
	top: 12px;
	border: none;
	background-color: transparent;
	transition: transform 0.1s ease-out
}

.remove-btn:active {
	transform: scale(0.95);
}

.item-cart-quantity {
	position: absolute;
	left: 130px;
}

.item-cart-total-price {
	margin-left: auto;
}

.discount {
	display: none;
	font-size: 16px;
	font-style: italic;
	margin: 0 30px;
	padding: 10px 0;
	color: darkred;
} 

.sub-total, .discount-amount {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.total-price {
	font-size: 25px;
	padding: 10px 0;
	margin: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.price {
	margin-left: auto;
}

.complete-btn {
	border: none;
	padding: 10px 20px;
	margin: 20px 30px;
	font-family: "Franklin";
	font-size: 22px;
	color: whitesmoke;
	background-color: green;
	transition: transform 0.1s ease-out
}

.complete-btn:active {
	transform: scale(0.98);
}